html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    @include box-sizing(border-box);
    font-size: 100%;
    
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;

    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: $font;
    height: 100%;
}

html.font-loaded {
    @include lato-family;

    .lb-contactDetails {
        @include lato-family-bold;
    }

    b,
    strong {
        @include lato-family-bold;
    }

    h1, h2, h3, h4, h5, h6, p {
        @include lato-family-bold;
    }

    p {
        @include lato-family;
    }

    optgroup {
        @include lato-family-bold;
    }

    .lb-btn {
        @include lato-family-bold;
    }

    .lb-cta {

        p {
            @include lato-family-bold;
        }
    }

    .lb-footer {
        @include lato-family;

        ul {

            li {
                @include lato-family;
            }
        }
    }

    .lbTouch {
        @include lato-family-bold;
    }

    .lb-hero {

        .lb-hero-text {
            @include lato-family;
        }
    }

    .lb-language-container {

        .lb-language-list {
            @include lato-family-bold;
        }
    }

    .lb-head-menu {

        .lb-menu-link {
            @include lato-family-bold;
        }
    }

    .lb-testimonials {

        .lb-testimonials-figcaption {
            @include lato-family-bold;
        }
    }
}

body {
    margin: 0;
    @include box-sizing(border-box);
    
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;

    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

#map-canvas { height: 100%; margin: 0; padding: 0;}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
    @include box-sizing(border-box);
}

div {
    @include box-sizing(border-box);
}



a {
    background-color: transparent;
    text-decoration: none;
    @include transition(color);
    color: $red-color;

    &:hover {
        color: lighten( $red-color, 10% );
    }
}


a:active,
a:hover {
    outline: 0;
}

.lb-fine-print h2, .lb-fine-print p {
    font-size: 90%;
    @include rem(margin-bottom, 1rem);
    @include rem(line-height, 1.5rem);
}

h1 {
    @include rem(font-size, 2.5rem);
    @include rem(margin, 0 0 2.5rem);
    @include rem(line-height, 3.125rem);
    color: $grey-color;
}

.lb-internal {

    h1 {
        color: $purple-color;
    }
}

h2 {
    @include rem(font-size, 1.875rem);
    @include rem(margin, 0 0 2.5rem);
    @include rem(line-height, 2.5rem);
    color: $purple-color;
}

a > h2, a > h3, h2 > a, h3 > a {
    text-decoration: none;
    color: $red-color;
}

small {
    font-size: 80%;
}



sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


img {
    border: 0;
}



svg:not(:root) {
    overflow: hidden;
}



figure {
    margin: 1em 40px;
}



button,
input,
optgroup,
select,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}


button {
    overflow: visible;
}


button,
select {
    text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}


button[disabled],
html input[disabled] {
    cursor: default;
}



button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}



input {
    line-height: normal;
}



input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}



fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}



legend {
    border: 0;
    padding: 0;
}



textarea {
    overflow: auto;
}


.lb-relative {
    position: relative;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    @include rem(margin, 0 0 $section);
    @include rem(line-height, 2.2rem);
    color: $grey-dark-color;
    @include rem(font-size, 1.375rem);
    word-wrap: break-word;
}

p.no-margin {
    @include rem(margin, 0 0 5px);
}

small {
    color: $grey-dark-color;
}

.lb-unordered-list {
    @include rem(margin, 0 0 $section);
    padding: 0;
    list-style-type: none;
    @include rem(line-height, 2.2rem);
    color: $grey-dark-color;
    @include rem(font-size, 1.375rem);
}