.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-center-mobile {
    text-align: center;
}

p {

    &.lb-margin-bottom-none {
        margin-bottom: 0;
    }
}

.img-full {
    width: 100%;
}

.pr-1 {
    @include rem(padding-right, 10px);
}

.lb-hide {
    display: none;
}
