.animate-title {
    @include animation(fade_in 2s);
}

.animate-description {
    @include animation(fade_in_desc 2s);
}


@include keyframes(fade_in) {
    from {
        opacity:0;
        @include transform(translate(250px, 0));
    }
    to {
        opacity:1;
        @include transform(translate(0, 0));
    }
}

@include keyframes(fade_in_desc) {
    0% {
        opacity:0;
        @include transform(translate(250px, 0));
    }
    35% {
        opacity:0;
        @include transform(translate(250px, 0));
    }
    100% {
        opacity:1;
        @include transform(translate(0, 0));
    }
}