.animate-button-action {
    @include animation(notice 2s infinite);
}

@include keyframes(notice) {
    0% {
        opacity:0;
        @include transform(translate(0, 50px));
    }
    35% {
        opacity:0;
        @include transform(translate(0, 50px));
    }
    100% {
        opacity:1;
        @include transform(translate(0, 0));
    }
}