section(class='lb-content text-center')

    div(class='lb-content-constraint lbService--container')

        div(class='lbService')

            a(href=path + data.team.en.href)

                h2(class='lbService_title') Libertine Team

                p(class='lbService_description') Adversity breeds tenacity, and this core truth is nowhere more evident...

        div(class='lbService')

            a(href=path + data.ca.en.href)

                h2(class='lbService_title') CA Life Coaching

                p(class='lbService_description') CA Life Coaching* provides coaching, consultation and facilitated...

