section(class='lb-hero_internal')

    picture
        source(srcset=path + "/img/hr_general2_mobile.jpg", media="(max-width: 767px)")
        source(srcset=path + "/img/hr_general2.jpg", media="(min-width: 768px) and (max-width: 1499px)")
        source(srcset=path + "/img/hr_general2_big.jpg", media="(min-width: 1500px)")
        img(src=path + "/img/hr_general2_mobile.jpg", alt="About us at libertine consultants")
