section(class='lb-hero_internal')

    picture
        source(srcset="#{path}/img/hr_about-us-mobile.jpg", media="(max-width: 767px)")
        source(srcset="#{path}/img/hr_about-us.jpg", media="(min-width: 768px)")
        source(srcset="#{path}/img/hr_about-us_big.jpg", media="(min-width: 1500px)")
        img(src="#{path}/img/hr_about-us-mobile.jpg", alt="About us at Libertine Consultants")
