block js
    script(src="https://cdn.ravenjs.com/3.8.1/raven.min.js")
    script.
        Raven.config('https://9403d10f5d0440c392a9a694fc8e599d@sentry.io/117267').install()

    // build:js js/common/common.min.js
    script(src=assetsPath + 'js/picturefill.min.js')
    script(src=assetsPath + 'js/fontfaceobserver.js')
    script(src=assetsPath + 'js/common/common.js')
    // endbuild

    script(type="text/javascript").

        WebFontConfig = {
            google: { families: [ 'Lato:300,400:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();

        if(typeof window.sessionStorage !== 'undefined' && 'sessionStorage' in window && window.sessionStorage && window.sessionStorage.fontsloaded) {
            var html = document.documentElement;
            html.className += ' font-loaded'
        } else {
            var observer = new FontFaceObserver('Lato', {
              weight: 400,
              weight: 300,
            });

            observer.check().then(function () {
                var html = document.documentElement;
                html.className += ' font-loaded'
                if (typeof window.sessionStorage !== 'undefined' && 'sessionStorage' in window && window.sessionStorage) {
                    sessionStorage.fontsloaded = true;
                }
            }, function () {
              console.log('Font is not available');
            });
        }

    //- script(type = "text/javascript").
    //-     var _mfq = _mfq || [];
    //-     (function () {
    //-         var mf = document.createElement("script");
    //-         mf.type = "text/javascript";
    //-         mf.async = true;
    //-         mf.src = "//cdn.mouseflow.com/projects/40514ae9-8c19-446e-b142-e4df3bce311b.js";
    //-         document.getElementsByTagName("head")[0].appendChild(mf);
    //-     })();