.lb-language {
    position: relative;
    @include max-width($max-width, $max-width-rem);
}

.lb-language-container {
    position: absolute;
    @include rem(width, 150px);
    z-index: 3;
    @include rem(margin-top, 0.75rem);
    @include rem(background-position, 142px);
}