.lb-language {
    position: relative;
    @include max-width($max-width, $max-width-rem);
}

.lb-language-container {
    @include customBorderRadius(0, 0, 5px, 5px);
    position: absolute;
    @include rem(width, 250px);
    z-index: 3;
}