.lb-language-container {
    background-color: $purple-color;
    padding: $padding;
    position: relative;

    &:after {
        position:absolute;
        font-family: lb-icons;
        top: 25%;
        right: $padding;
        color: $white-color;
        content: "\E008";
        font-size: 1.5em;
    }

    
    .lb-language-list {
        display: inline-block;
        @include rem(font-size, .8rem);
        @include rem(padding-right, .5rem);

        &.active {

            a {
                color: $white-color;
            }
        }
        
        a {
            color: $light-grey-color;
            
            &:hover {
                color: $white-color;
            }
        }
        
        
    }
}