.lb-language {
    background-color: $purple-color;
    padding: $padding;
    
    .lb-language-list {
        display: inline-block;
        text-transform: uppercase;
        @include rem(font-size, .8rem);
        @include rem(padding-right, .5rem);
        
        a {
            color: $light-grey-color;
            
            &:visited {
                color: $light-grey-color;
            }
            
            &:hover {
                color: $white-color;
            }
        }
        
        
    }
}