.lb-search {
    @include borderRadius(5px);
    @include rem(margin, 0 $padding $padding-containers);
    @include rem(padding, $padding);
    @include medium-width($max-width-large, $lighter-grey-color);
    background-color: rgba($grey-background, 0.5);
    @include borderRadius(5px);
    border: 1px solid $smoke;


    .lb-search__label {
        display: block;
        @include rem(margin-bottom, $padding-containers);
        @include rem(font-size, 18px);
    }

    .lb-search__input {
        @include rem(padding, $padding);
        @include borderRadius(50px);
        outline: none;
        width: 90%;
        background-color: rgba($grey-background, 1);
        border: 1px solid $smoke;
        text-align: center;
        @include transition(all, 0.5s, ease);

        &:focus {
            background-color: rgba($grey-background, 0.5);
            border: 1px solid $lighter-grey-color;
        }
    }
}