.lb-map-canvas {
    width: 100%;
    @include rem(height, 200px);
    @include rem(margin-top, 2rem);
}

.lb-contact {
    text-align: center;
    @include rem(margin-bottom, 20px);

    p {
        margin-bottom: 0;
    }
}

.lb-contact-title {
    margin-bottom: 0;
}

@include bp(large) {

    .lb-contact {

        &:first-child {
            border-left: none;
        }

        text-align: left;
        @include gallery(4 of 12);
        @include rem(padding, 0 $padding 0 40px);
        border-left: 1px solid $light-grey-color;
        @include rem(margin-bottom, 0);
    }

    .lb-map-canvas {
        @include rem(height, 400px);
    }
}