extends ../extends/404

block title
    title Libertine Consultants | Oops something went wrong!

block description
    meta(name='description', content='It seems that we can’t find the page you are looking for!')

append css
    // build:inlinecss
    link(rel='stylesheet' href='/css/404/404.css')
    // endbuild

block main

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            img(src=path + '/img/404.png', alt='404', class='logo-pd-2')

            h1(class='title-404') Too fat to reach!

            p(class='lb-content_main-text').
                Oops!, looks like we can't reach the page, please use the link below!

            a(href=path + data.home[lang].href, class='lb-btn lb-btn__inverse') Return home