extends ../extends/default.jade

block title
    title Libertine Consultants | Debt Counselling | About Us

block description
    meta(name='description', content='Find out more about the skilled, pro-active debt counselling team at Libertine Consultants. We’re here to help you get your house in order.')

block variables
    - var activePage    = nav.about.en.href;
    - var english       = nav.about.en.href;
    - var afrikaans     = nav.about.af.href;

block main

    include ../partials/about-us/about-us-header

    section(class='lb-content lb-content_grey')

        div(class='lb-content-constraint__large text-center')

            p.
                Let’s face it – nobody ever thinks they will be the poor sap who will have to <strong>apply for debt
                consolidation</strong>. It is not a call you ever want to have to make and the realisation that you need to call in
                professional help to <strong>get your finances</strong> back on track can be a very difficult pill to swallow.

    section(class='lb-content text-center')

        div(class='lb-content-constraint__large')

            p.
                At <strong>Libertine Consultants</strong> we believe that it takes guts to admit that you require <strong>debt counselling</strong>, which
                is why we go out of our way to ensure that you get <strong>efficient, compassionate service</strong> at this trying time in
                your life. Our company ethos is rooted in personal relationships.

            p.
                We believe that in order to help you most effectively we need to get to know you and <strong>understand your
                circumstances</strong>. This is why we have hand-picked our team to include passionate professionals who will
                undertake the <strong>debt counselling journey</strong> with you and support you all the way.

    section(class='lb-content lb-content_grey text-center')

        div(class='lb-content-constraint__large')

            include ../partials/cta/cta-touch


    include ../partials/about-us/about-us-icon-nav


    section(class='lb-content lb-content_grey')

        include ../partials/cta/cta-red