extends ../extends/default.jade

block title
    title Administrator job | Administrator Career | Cape Town

block description
    meta(name='description', content='We`re hiring! We are currently looking for a administrator.')

block variables
    - var activePage    = path + data.careers.en.href;
    - var english       = path + data.careers.en.href;
    - var afrikaans     = path + data.careers.af.href;

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/about/about.css')
    // endbuild

block main

    include ../partials/about-us/about-us-header

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/icon-05-aboutus.svg

            h1 Administrator

            p(class='lb-content_main-text').
                Closing date for applications: <b>9 June 2016</b>

        section(class='lb-content text-center lb-content_grey')

            div(class='lb-content-constraint__large')

                p.
                    As an administrator you will assume the duty of clerical and administrative support in order to optimize workflow procedures in the office.


        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 Job requirements

                p.
                    Matric certificate<br>
                    Computer literate<br>
                    Proficiency in Microsoft Office or Google docs<br>
                    High degree of multi-tasking and time management capability<br>
                    Excellent written and verbal communication skills


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 Core duties

                p.
                    Liaison and communication with old and new clients<br>
                    Capture new applications<br>
                    General office work

                p NB: Applicants will be expected to complete a computer literacy test including but not limited to Word, Excel, Internet and Email.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                p Please send <a href="mailto:careers@libertineconsultants.co.za">careers@libertineconsultants.co.za</a> your cover letter and resume. <br> Your resume should be in pdf or MS Word format.

                <a href="#{path}#{data.careers.en.href}" class="lb-btn">Back to Careers</a>