extends ../extends/default.jade

block title
    title Careers | Debt Counsellor Job | Cape Town

block description
    meta(name='description', content='We`re hiring! Visit our page for available positions as debt counsellor, administrator and others!')

block variables
    - var activePage    = path + data.careers.en.href;
    - var english       = path + data.careers.en.href;
    - var afrikaans     = path + data.careers.af.href;

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/about/about.css')
    // endbuild

block main

    include ../partials/about-us/about-us-header

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/icon-05-aboutus.svg

            h1 So you want to work with us?

            p(class='lb-content_main-text').
                Efficient, compassionate <strong>team</strong> that rely on each other

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 A little about us

                p.
                    We believe that in order to help our customers most effectively it comes down to our team.
                    This is why we have hand-picked our team to include passionate professionals. Find out more <a href="#{path}#{data.team.en.href}">about us</a>.


        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                h2 Our current opening

                p <strong>Administrator</strong>

                p.
                    As an administrator you will assume the duty of clerical and administrative support in order to optimize workflow procedures in the office.

                p Closing date for applications: <b>9 June 2016</b>




        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                p <b>Job requirements</b>

                p.
                    Matric certificate<br>
                    Computer literate<br>
                    Proficiency in Microsoft Office or Google docs<br>
                    High degree of multi-tasking and time management capability<br>
                    Excellent written and verbal communication skills

                p <b>Core duties</b>

                p.
                    Liaison and communication with old and new clients<br>
                    Capture new applications<br>
                    General office work

                p NB: Applicants will be expected to complete a computer literacy test including but not limited to Word, Excel, Internet and Email.

                p Please send <a href="mailto:careers@libertineconsultants.co.za">careers@libertineconsultants.co.za</a> your cover letter and resume. <br> Your resume should be in pdf or MS Word format.