extends ../extends/landing

block title
    title Debt Consultants | About Us | Libertine Consultants

block description
    meta(name='description', content='Find out more about the skilled, pro-active debt counselling team at Libertine Consultants. We’re here to help you get your house in order.')

block variables
    - var activePage    = nav.about.en.href;
    - var english       = nav.about.en.href;
    - var afrikaans     = nav.about.af.href;

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/credit/credit.css')
    // endbuild

block main

    main(role='main', class='lb-internal')

        div(class='lb-content_purple')

            section(class='lb-content lb-content_main')

                h1 Credit Analysis

                p(class='lb-content_main-text').
                    Your <b>credit record</b> is a very important part of your identity as a South African citizen, yet many of us have no idea what ours look like. At Libertine Consultants, we realise that finding your <b>credit record</b> and then making sense of it can be a challenge.

                p(class='lb-content_main-text').
                    Fortunately, we deal with this type of thing every day, so we can help you to do it quickly and simply.


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 How to get your South African credit score & credit report

                p.
                    When you partner with Libertine Consultants, we will guide you through the <b>three-step process</b> with sourcing and understanding your <b>credit record</b> at a cost of <b>R400.00</b>.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 Three-step process includes

                ol
                    
                    li(class="landing-list__item")  
                        span(class="landing-list__number") 1
                        span(class="landing-list__text") <b>Drawing your credit report</b> from Experian, XDS and Transunion.
                    li(class="landing-list__item -right") 
                        span(class="landing-list__text") <b>Analysing</b> your credit report.
                        span(class="landing-list__number -right") 2
                    li(class="landing-list__item") 
                        span(class="landing-list__number") 3 
                        span(class="landing-list__text") <b>Providing personalised advice</b> on improving your credit score.

        section(class='lb-content lb-content_purple')

            div(class='lb-content-constraint__large text-center')

                h2 Start understanding your credit score and report today.

                p.
                    All you need to do is fill out the form below and make the <b> online payment of R400.00</b>.


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large')

                form(class='lb-form lb-apply', novalidate, method='post', action='/php/credit.form.php', id='credit_analysis')

                    div(class='lb-form-section')
                        label(for='name', class='lb-form-label') Name
                        input(type='text', name='name', placeholder='Joe', class='lb-form-input', id='name', autocomplete='given-name', data-form, required)

                    div(class='lb-form-section')
                        label(for='surname', class='lb-form-label') Surname
                        input(type='text', name='surname', placeholder='Doe', class='lb-form-input', id='surname', autocomplete='family-name', data-form, required)

                    div(class='lb-form-section')
                        label(for='idNumber', class='lb-form-label') ID Number
                        input(type='text', name='idNumber', placeholder='8501016184086', class='lb-form-input', id='idNumber', autocomplete='id',  data-form="idNumber", required)


                    div(class='lb-form-section')
                        label(for='email' class='lb-form-label') Email Address
                        input(type='text', name='email', placeholder='joedoe@example.co.za' class='lb-form-input' id='email', data-form="email", autocomplete='email', required)

                    div(class='lb-form-section')
                        label(for='number' class='lb-form-label') Contact Number
                        input(type='text' name='number' placeholder='0792838000' class='lb-form-input' id='number', data-form, autocomplete='tel', required)

                    div(class='lb-form-section')
                        label(for='terms' class='lb-form-label') 
                            input(type='checkbox' name='terms' id='terms', data-form, required) 
                            span &nbsp; I accept the <a href="http://google.co.uk">terms and conditions</a>

                    div(class='lb-form-section lb-form-section--hidden')
                        button(type='hidden', name='formName', value='credit analysis')
                        button(type='hidden', name='isBot', value='')

                    div(class='lb-form-section')
                        div(class="g-recaptcha" data-sitekey="6LckhBYTAAAAAM_zKRSQ1M9hhgBXavvnHjKbUvTz")
                    
                    div(class='lb-form-section error-js', style='clear: both;')

                    div(class='lb-form-section', style='position: relative;')

                        button(type='submit', name='submit', class='lb-btn lb-btn_action lb-btn_action-pull-right submit-btn-js') Pay Now - R400.00

                        div(class='spinner')
                            div(class='double-bounce1')
                            div(class='double-bounce2')

        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                include ../partials/cta/cta-touch

append js
    include ../partials/scripts/forms-script
    script(src='https://www.google.com/recaptcha/api.js')
    script.
        document.querySelector('.js-to-form').addEventListener('click', function(e) {
            e.preventDefault()
            document.querySelector('.js-form').scrollIntoView()
        })
