extends ../extends/default.jade

block title
    title Data capturer job | Data capturer Career | Cape Town

block description
    meta(name='description', content='We`re hiring! We are currently looking for a data capturer.')

block variables
    - var activePage    = path + data.careers.en.href;
    - var english       = path + data.careers.en.href;
    - var afrikaans     = path + data.careers.af.href;

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/about/about.css')
    // endbuild

block main

    include ../partials/about-us/about-us-header

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/icon-05-aboutus.svg

            h1 Data capturer

            p(class='lb-content_main-text').
                Closing date for applications: <b>8 July 2016</b><br>
                <small>Status: <span class="lb-badge">open</span></small>

        section(class='lb-content text-center lb-content_grey')

            div(class='lb-content-constraint__large')

                p.
                    The applicant must have advance levels of proficiency using a computer, Microsoft Word and Microsoft Excel.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 Job requirements

                p.
                    Matric certificate<br>
                    Computer literate<br>
                    Proficient in Microsoft Office or Google docs<br>
                    High degree of multi-tasking and time management capability<br>
                    Excellent written and verbal communication skills<br>
                    Candidate must be methodical with attention to details


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 Core duties

                p.
                    Work on Legalsuite<br>
                    Capture data<br>
                    Implement processes and procedures

                p NB: Applicants will be expected to complete a computer literacy test including but not limited to Word, Excel, Internet and Email.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                p Please send <a href="mailto:careers@libertineconsultants.co.za">careers@libertineconsultants.co.za</a> your cover letter and resume. <br> Your resume should be in pdf or MS Word format.

                <a href="#{path}#{data.careers.en.href}" class="lb-btn">Back to Careers</a>