extends ../extends/default.jade

block title
    title Libertine Consultants | Debt Counselling Team | Debt Management Team

block description
    meta(name='description', content='Expert debt consultants in Cape Town South Africa. Meet our team of experts.')

block variables
    - var activePage    = nav.about.en.href;
    - var english       = nav.about.en.href;
    - var afrikaans     = nav.about.af.href;

block main

    include ../partials/about-us/about-us-header

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content-constraint__large text-center')

            h1 Julie Duminy

            p.
                <strong>Adversity breeds tenacity</strong>, and this core truth is nowhere more evident than in the twists and turns of
                Julie's personal history. As the owner, proprietor and <strong>Chief Inspiration Officer of Libertine Consultants</strong>*,
                Julie takes immense pride in helping the <strong>financially overburdened</strong> and believes that her compassion
                stems from the challenges she herself had to overcome throughout the course of her career.

    section(class='lb-content lb-content_grey')

        div(class='lb-content-constraint__large text-center')

            p.
                Long story short - Julie started out by fighting her way into training courses without the benefit of a
                matric qualification and bit more than just one proverbial bullet on her way to becoming the <strong>highly
                qualified debt counsellor</strong> she is today. She worked hard, refused to take no for the answer and today she
                has the certificate (and the matric results) to show for it!



    section(class='lb-content text-center')

        div(class='lb-content-constraint__large')

            p.
                This tenacity landed her a position as micro-finance agent with Land Bank and an inspiring side-line in
                <strong>hosting workshops</strong> to train and <strong>educate delegates in budgeting and saving</strong>.
                Her time at Land Bank was followed by an extensive foray into the world of personal finance that lead to the establishment of
                Libertine Consultants.


    section(class='lb-content lb-content_grey text-center')

        div(class='lb-content-constraint__large')

            include ../partials/cta/cta-touch

    section(class='lb-content text-center', id="team")

        div(class='lb-content-constraint__large')

            h2 The Libertine Team

            p.
                Our <strong>debt counsellors</strong> are all hand-picked by Julie for their <strong>skills and professionalism</strong>. Once a counsellor
                has been assigned to you, you can rest assured that we will do our utmost to develop a sustained
                professional relationship that will last until your <strong>debt review</strong> has been resolves completely.


    section(class='lb-content_grey')

        include ../partials/about-us/about-us-icon-nav


    section(class='lb-content lb-content--fine')

        div(class='lb-content-constraint lb-fine-print text-center')

                p.
                    *Libertine Consultants is a registered close corporation (registration number 2008/148827/23) and has
                    been registered with the National Credit Regulator (registration number NCRDC592).


    section(class='lb-content lb-content_grey')

        include ../partials/cta/cta-red

