extends ../extends/default.jade

block title
    title testsesdasdf asdf

block description
    meta(name='description', content='Yo')

append css
    // build:css css/home/get-in-touch.min.css
    link(rel='stylesheet' href='#{path}/css/debt/debt.css')
    // endbuild

block prepend activeMenu
    - var activePage    = nav.debt.en.href;
    - var english       = nav.debt.en.href;
    - var afrikaans     = nav.debt.af.href;

block main

    include ../partials/language.jade

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/header-inner-2-mobile.jpg", media="(max-width: 1023px)")
            source(srcset="#{path}/img/header_inner_2.jpg", media="(min-width: 1024px)")
            img(src="#{path}/img/header-inner-2-mobile.jpg", alt="MDN")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            i(class='lb-icon lb-05-debt_mng lb-icon-6')
            i(class='lb-icon lb-04-debt_mng lb-icon-6')
            h1 Debt services
            p(class='lb-content_main-text').
                Each case requires a detailed analysis and a fresh approach. Fill in the form below and we’ll give you the debt advice
                you need.

            include ../partials/cta/cta-red.jade

        section(class='lb-content lb-content_grey text-center')

            div(class='lb-service')

                h2(class='lb-service-title')
                    a(href='') Debt Consolidation

                p Recovering money for our clients <strong>since 2007</strong> - Company no 2008/148827/23

            div(class='lb-service')

                h2(class='lb-service-title')
                    a(href='') Debt Review

                p Over <strong>R235,000,000</strong> recovered for our clients last year. Helped over <strong>600+ individuals</strong> take control back.

            div(class='lb-service')

                h2(class='lb-service-title')
                    a(href='') Debt Counselling

                p Our <strong>accomplished and dedicated team</strong> provides the debt advice you need

            div(class='lb-service')

                h2(class='lb-service-title')
                    a(href='') Business Rescue & Turnaround

                p Registered with the <a href="http://www.ncr.org.za" target="_blank"><strong>National Credit Regulator</strong></a> - number NCRDC592

        section(class='lb-content text-center')

            div(class='lb-service')

                h2(class='lb-service-title')
                    a(href='') Sequestration

                p Recovering money for our clients <strong>since 2007</strong> - Company no 2008/148827/23

            div(class='lb-service')

                h2(class='lb-service-title')
                    a(href='') Voluntary Distribution

                p Over <strong>R235,000,000</strong> recovered for our clients last year. Helped over <strong>600+ individuals</strong> take control back.

            div(class='lb-service')

                h2(class='lb-service-title')
                    a(href='') Debt Management

                p Our <strong>accomplished and dedicated team</strong> provides the debt advice you need

            div(class='lb-service')

                h2(class='lb-service-title')
                    a(href='') Debt Solutions

                p Registered with the <a href="http://www.ncr.org.za" target="_blank"><strong>National Credit Regulator</strong></a> - number NCRDC592


        section(class='lb-content lb-content_grey text-center')

                div(class='lb-service')

                    h2(class='lb-service-title')
                        a(href='') Administration of Estates

                    p Recovering money for our clients <strong>since 2007</strong> - Company no 2008/148827/23

                div(class='lb-service')

                    h2(class='lb-service-title')
                        a(href='') Credit Clearance

                    p Over <strong>R235,000,000</strong> recovered for our clients last year. Helped over <strong>600+ individuals</strong> take control back.

                div(class='lb-service')

                    h2(class='lb-service-title')
                        a(href='') Consolidation Loans

                    p Our <strong>accomplished and dedicated team</strong> provides the debt advice you need

                div(class='lb-service')

                    h2(class='lb-service-title')
                        a(href='') Debt Lawyers

                    p Registered with the <a href="http://www.ncr.org.za" target="_blank"><strong>National Credit Regulator</strong></a> - number NCRDC592