extends ../extends/default.jade

block title
    title Libertine Consultants | Debt Counselling FAQ's

block description
    meta(name='description', content='Do you have any questions pertaining to debt counselling? Contact Libertine Consultants for tailor-made debt solutions today.')

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/faqs/faqs.css')
    // endbuild


block variables
    - var activePage    = nav.support.en.href;
    - var english       = nav.support.en.href;
    - var afrikaans     = nav.support.af.href;

block main

    section(class='lb-hero_internal lb-hero_internal--noImage')

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            h1 General FAQ's

        section(class='lb-search text-center')
            label(for='lb-search', class='lb-search__label') What can we help you today with?
            input(type='text', name='search', class='lb-search__input', id='lb-search', placeholder='Search')


        section(class='lb-content')

            div(class='lb-faqs lb-pristine')

                include ../partials/mixins/faqs

                each val in locals.faqs
                    mixin faq(val)

        include ../partials/faqs

append js
    include ../partials/scripts/search-script
