extends ../extends/default

block title
    title Libertine Consultants | Debt management

block description
    meta(name='description', content='They say that the road to hell is paved with good intentions. Similarly, the road to debt is very often paved with wishful thinking.')

block variables
    - var activePage    = nav.debt.en.href;
    - var english       = nav.debt.en.href;
    - var afrikaans     = nav.debt.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset=path + "/img/hr_general2_mobile.jpg", media="(max-width: 767px)")
            source(srcset=path + "/img/hr_general2.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            source(srcset=path + "/img/hr_general2_big.jpg", media="(min-width: 1500px)")
            img(src=path + "/img/hr_general2_mobile.jpg", alt="Privacy Policy")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/11-trust.svg

            h1 Debt management

            p(class='lb-content_main-text').
                Don’t wait until its <strong>too late</strong>.


        section(class='lb-content text-center lb-content_grey')

            div(class='lb-content-constraint__large')

                p.
                    The <strong>road to debt</strong> is very often paved with wishful thinking. The thinking is often that if you wait long
                    enough, something will happen, the end of the month will never come and those creditors will not start calling.



        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                p.
                    The good news is that the <strong>creditors will stop calling</strong>. The bad news is that they are
                    immediately sending you that <strong>wretched letter of demand</strong>.  They are doing this because
                    they know something that you don’t - they know that as soon as they send out that letter,
                    you <strong>cannot later include their account in a debt review consolidation</strong>.

        section(class='lb-content text-center lb-content_grey')

            div(class='lb-content-constraint__large')

                include ../partials/cta/cta-touch

        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                p.
                    The start of legal proceedings was previously marked by the issuing of a summons,
                    which takes some time since the account first goes into legal, then to <strong>collecting
                    agents/attorneys</strong> and only then the summons is drafted and issued by the court. So a
                    consumer still had some time to redeem his situation or seek the <strong>help of a debt
                    counsellor</strong>. Now the creditor can very easily and speedily send you a demand to ensure
                    that you cannot include their <strong>account in a debt review</strong>.



        section(class='lb-content text-center lb-content_grey')

            div(class='lb-content-constraint__large')

                p.
                    In short, your <strong>creditors are swiftly reducing your options to get out of debt</strong>. Now is the
                    time to think fast and act quickly.  As soon as you know that face the problem of being
                    unable to pay one or more of your creditors, or as soon as your spouse goes on maternity
                    leave or gets retrenched, see a reputable, registered debt counsellor for advice. The advice
                    should be <strong>free of charge</strong> and you are not committed to signing any application unless you
                    know what is expected of you and what is expected of your debt counsellor.


        section(class='lb-content lb-content_purple')

            include ../partials/cta/cta-red