extends ../extends/default.jade

block title
    title Libertine Consultants | Debt Counselling

block description
    meta(name='description', content='At Libertine Consultants our debt counselling process includes support before, during and after your case. We tailor our approach to ensure your success.')

block variables
    - var activePage    = nav.debt.en.href;
    - var english       = nav.debt.en.href;
    - var afrikaans     = nav.debt.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/hr_about-us-mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_about-us.jpg", media="(min-width: 768px)")
            img(src="#{path}/img/hr_about-us-mobile.jpg", alt="Debt service")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            img(src='#{path}/svg/13-trust.svg', width='120')

            h1 Debt counselling

            p(class='lb-content_main-text').
                Empower yourself through proper debt counselling.

            include ../partials/cta/cta-red


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 What exactly is debt counselling?

                p.
                    Simply put, <strong>debt counselling</strong> is the process by which a qualified professional sits down with you to
                    analyse your <strong>budget and draw up a manageable repayment plan</strong> to settle your outstanding accounts.

                p.
                    To start with we'll compare your monthly income to your set monthly expenses to <strong>determine where
                    your money is going</strong> to and ensure that you are able to <strong>take care of yourself and your family</strong> while you
                    <strong>settle your debts</strong>.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                include ../partials/cta/cta-touch

        section(class='lb-content text-center lb-content_grey')

            div(class='lb-content-constraint__large')

                p.
                    This gives us the necessary perspective to determine where we can make adjustments
                    to <strong>improve your cash flow</strong>. Once your budget has been finalised, we then look at how we will divide the
                    rest between your creditors.

                p.
                    The entire process of applying for debt review normally takes no longer than 60 working days and starts
                    with the completion of a form (Form 16), which allows Libertine Consultants to apply for a <strong>court order
                    on your behalf</strong> that allows us to <strong>restructure your debt repayments</strong>.


        section(class='lb-content')

            include ../partials/cta/cta-red

