extends ../extends/default.jade

block title
    title testsesdasdf asdf

block description
    meta(name='description', content='Yo')

append css
    // build:css css/home/get-in-touch.min.css
    link(rel='stylesheet' href='css/get-in-touch/get-in-touch.css')
    // endbuild

block prepend activeMenu
    - var activePage = '/get-in-touch.html'

block main

    include ../partials/language.jade

    section(class='lb-hero_internal')

        picture
            source(srcset="/img/header-inner-2-mobile.jpg", media="(max-width: 1023px)")
            source(srcset="/img/header_inner_2.jpg", media="(min-width: 1024px)")
            img(src="/img/header-inner-2-mobile.jpg", alt="MDN")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            i(class='lb-icon lb-05-debt_mng lb-icon-6')
            i(class='lb-icon lb-13-trust lb-icon-6')
            h1 Get the help you need
            p(class='lb-content_main-text').
                <b>Is there a more efficient way to manage your debt?</b><br>
                We think so.

        section(class='lb-content lb-content_light-grey')
            p(class='text-center lb-margin-bottom-none').
                Fill in the form below and start the
                process to a tailored made debt repayment plan putting you first.


        section(class='lb-content lb-content_grey')

            form(class='lb-form')

                div(class='lb-form-section lb-form-description').
                    We'll contact you to discuss your options at a time convenient to you. You are under no obligations to proceed.

                div(class='lb-form-section')
                    label(for='name', class='lb-form-label') Full name
                    input(type='text', name='name', placeholder='Joe Doe', class='lb-form-input lb-error', id='name')

                div(class='lb-form-section')
                    label(for='email' class='lb-form-label') Email address
                    input(type='email', name='email', placeholder='joedoe@example.co.za' class='lb-form-input lb-valid' id='email')

                div(class='lb-form-section')
                    label(for='number' class='lb-form-label') Contact number
                    input(type='text' name='number' placeholder='0792838000' class='lb-form-input' id='number')

                div(class='lb-form-section')
                    label(for='enquiry' class='lb-form-label') Getting in touch regarding
                    textarea(name='enquiry', placeholder='I need you to help me with my current debtors.', class='lb-form-textarea', id='enquiry')

                div(class='lb-form-section')
                    button(type='submit' name='submit' class='lb-btn lb-btn_action lb-btn_action-pull-right') Submit

        section(class='lb-content lb-content_purple')

            div(class='lb-testimonials lb-bar')

                blockquote
                    p(class='lb-testimonials-text').
                        We are happy to say that through their dedication and our commitment we are now debt free!

                figcaption(class='lb-testimonials-figcaption').
                    Mr & Mrs Wessels, Cape Town

            div(class='lb-testimonials_cta')

                div(class='lb-cta lb-cta_center')

                    p
                        small Take control of finances and simplify your life