extends ../extends/default.jade

block title
    title Testimonials | Customers Reviews | Cape Town

block description
    meta(name='description', content='These are testimonials that are clients have left. Come to Libertine Consultants for 5 star service')

block variables
    - var activePage    = path + data.privacy[lang].href
    - var english       = path + data.privacy.en.href
    - var afrikaans     = path + data.privacy.af.href

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/hr_general-mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_general3.jpg", media="(min-width: 768px)")
            img(src="#{path}/img/hr_general-mobile.jpg", alt="Testimonials")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            h1 Testimonials
            p(class='lb-content_main-text').
                We understand that privacy online is important to users of our site, especially when conducting business.

        section(class='lb-content lb-content_purple')

            div(class='lb-content-constraint__large lb-testimonials__big')

                img(src='/test/svg/quote.svg')

                p.
                    We would like to go on record as saying that Libertine Consultants have rendered us excellent and
                    professional service during the course of our Debt Review. They were always respectful and helpful.
                    We are happy to say that through their dedication and our commitment we are now debt free! We only
                    need to contend with our daily living expenses and not debt as well. What a great relief! Thank you Libertine Consultants!


                small <strong>Mr & Mrs Wessels</strong>


        section(class='lb-content text-right')

            div(class='lb-content-constraint__large')

                img(src='/test/svg/quote.svg')

                p.
                    I would to thank you all for assisting me in my time of difficulties, I really appreciate what you
                    have done for me, but someone in my family has decided to assist me further.
                    I would no longer need assistance but surely would recommend people to you.


                small <strong>Mr & Mrs Wessels</strong>

        section(class='lb-content lb-content_purple')

            div(class='lb-content-constraint__large')

                img(src='/test/svg/quote.svg')

                p.
                    We would like to go on record as saying that Libertine Consultants have rendered us excellent and
                    professional service during the course of our Debt Review. They were always respectful and helpful.
                    We are happy to say that through their dedication and our commitment we are now debt free! We only
                    need to contend with our daily living expenses and not debt as well. What a great relief! Thank you Libertine Consultants!


                small <strong>Mr & Mrs Wessels</strong>


        section(class='lb-content text-right')

            div(class='lb-content-constraint__large')

                svg(xmlns="http://www.w3.org/2000/svg", width="48", height="48", viewBox="0 0 48 48")
                    path(d="M0 43c0 2.21 1.79 4 4 4h13c2.21 0 4-1.79 4-4V27c0-2.21-1.79-4-4-4h-6.42c-1.11 0-2-.9-2-2 0-.36.09-.61.09-.61 1.46-4.84 5.15-8.72 9.88-10.44l.02-.02C20 9.32 21 7.9 21 6.25c0-2.21-1.79-4-4-4-.54 0-1.05.11-1.52.3l-.18.07C6.35 6.11 0 14.81 0 25v18zm26 0c0 2.21 1.79 4 4 4h13c2.21 0 4-1.79 4-4V27c0-2.21-1.79-4-4-4h-6.42c-1.11 0-2-.9-2-2 0-.37.09-.61.09-.61 1.46-4.84 5.15-8.72 9.88-10.44l.02-.02C46 9.32 47 7.9 47 6.25c0-2.21-1.79-4-4-4-.54 0-1.05.11-1.52.3l-.18.07C32.35 6.11 26 14.81 26 25v18z")

                p.
                    I would to thank you all for assisting me in my time of difficulties, I really appreciate what you
                    have done for me, but someone in my family has decided to assist me further.
                    I would no longer need assistance but surely would recommend people to you.


                small <strong>Mr & Mrs Wessels</strong>