extends ../extends/default.jade

block title
    title Libertine Consultants | Debt Counselling | About Us

block description
    meta(name='description', content='Find out more about the caring, compassionate debt team at Libertine Consultants. Were here to help you get your house in order.')

block variables
    - var activePage    = nav.workshops.en.href;
    - var english       = nav.workshops.en.href;
    - var afrikaans     = nav.workshops.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/hr_about-us-mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_about-us.jpg", media="(min-width: 768px)")
            img(src="#{path}/img/hr_about-us-mobile.jpg", alt="Debt service")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            img(src='#{path}/svg/05-debt_mng.svg', width='120')

            h1 Workshops

            p(class='lb-content_main-text').
                Take advantage of our expertise!

            include ../partials/cta/cta-touch


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large')

                p.
                    At Libertine Consultants we believe that prevention is better than cure, which is why we
                    offer workshops on budgeting and finance free of charge to businesses and community initiatives every
                    Wednesday.

                p.
                    Contact us to book a slot and to find out more about our workshop content and schedules.

        section(class='lb-content')

            include ../partials/cta/cta-red