.lb-container {
    position: relative;
    @include rem(max-width, 1680px);
    margin: 0 auto;
}

.lb-container_no-position {
    @include rem(max-width, 1680px);
    margin: 0 auto;
}

.lb-container-push {
    @include rem(padding-top, 1rem);
}

.lb-container_purple {
    background-color: $purple-color;

    h2, p {
        color: $white-color;
    }
}

.lb-container_grey {
    background-color: $grey-background;
}