.lb-content {
    position: relative;
    margin: 0 auto;
    @include rem(padding, 2rem $padding-containers);
}

.lb-content-constraint {
    @include max-width($max-width, $max-width-rem);
}

.lb-content-constraint__medium {
    @include medium-width($max-width-medium, $max-width-medium-rem);
}

.lb-content-constraint__large {
    @include medium-width($max-width-large, $max-width-large-rem);
}

.lb-content_purple {
    background-color: $purple-color;

    h2, p, small, h3, h1 {
        color: $white-color;
    }
}

.lb-content_grey {
    background-color: $grey-background;
}

.lb-content_light-grey {
    background-color: $light-grey-color;
}

.lb-content:after {
    @include after();
}

.lb-internal {

    .lb-content_main {
        text-align: center;
        @include rem(margin, 3rem auto 1rem);
        @include rem(max-width, $max-width-medium);

        .lb-content_main-text {
            @include rem(font-size, 1.7rem);
        }
    }
}