.lb-footer {
    background-color: $footer-color;
    color: $white-color;
    @include rem(font-size, 1rem);
    @include lato-family;
    text-transform: uppercase;
    @include rem(padding, $padding-containers);

    ul {
        @include rem(margin, 0 0 1.25rem 0);
        list-style-type: none;

        li {
            @include rem(font-size, 0.75rem);
            @include lato-family;
            @include rem(line-height, 2.4rem);

            a {
                color: $white-color;
                @include rem(padding, 0.5rem 0);

                &:hover {
                    color: $purple-lighter-color;
                }
            }
        }
    }

    p {
        color: $white-color;
        text-transform: none;
        @include rem(font-size, 0.75rem);
        @include rem(line-height, 1.25rem);
        margin-bottom: 0;
        text-transform: uppercase;

        a {
            color: $purple-lighter-color;

            &:hover {
                color: $white-color;
            }
        }
    }
}