.lb-testimonials {
    margin: 0;
    text-align: center;
    position: relative;
    @include rem(padding, 0 0 3rem);

    &:before,
    &:after {
        @include rem(font-size, 6rem);
        color: $white-color;
        position: absolute;
    }

    &.lb-testimonials__row {
        @include span(12 no-gutters);
        text-align: center;
        @include max-width($max-width, $max-width-rem);
        float: none;
        width: auto;
    }

    blockquote {
        margin: 0;

        .lb-testimonials-text {
            @include rem(font-size, 1.875rem);
            @include rem(margin-bottom, 1rem);
        }
    }

    .lb-testimonials-figcaption {
        color: $white-color;
        @include lato-family-bold;
    }
}