.lb-testimonials {
    text-align: left;
    @include span(8 no-gutters);
    @include rem(padding, 0 3rem 1rem);

    blockquote {
        @include rem(margin-right, 1rem);
    }

    .lb-testimonials-figcaption {
        @include rem(margin-bottom, $section);
    }
}

.lb-testimonials_cta {
    @include span(4);

    &.lb-testimonials_cta-absolute {
        position: absolute;
        right: 0;
        top: 10%;
    }
}

.lb-bar {
    border-right: 1px solid $white-color;
    @include rem(padding, 0 3.5rem 0 0);
}