.lbService {
    text-align: center;
    padding-top: 15px;
    margin-top: -15px;

    svg {
        width: 80px;
        height: 80px;
    }

    &.lbService--last {
        @include rem(margin-bottom, 0);
        @include rem(padding-bottom, 0);
        @include rem(padding-right, 0);
    }

    .lbService_title {
        @include transition(color);
        color: $red-color;
        @include rem(margin-bottom, 15px);
    }

    .lbService_description {
        @include rem(line-height, 28px);
        @include rem(margin-bottom, 15px);
    }
}