.lbService {
    text-align: center;

    &.lbService--last {
        @include rem(margin-bottom, 0);
        @include rem(padding-bottom, 0);
        @include rem(padding-right, 0);
    }

    .lbService_title {
        @include transition(color);
        margin-bottom: 0;
    }

    &:hover {

        .lbService_title {
            color: lighten($red-color, 10%);
        }
    }

    .lbService_description {
        @include rem(line-height, 34px);
    }
}