.lbService {
    text-align: center;

    &.lbService--last {
        @include rem(margin-bottom, 0);
        @include rem(padding-bottom, 0);
        @include rem(padding-right, 0);
    }

    .lbService_title {
        margin-bottom: 0;
        @include transition(color);

        &:hover {
            color: $purple-lighter-color;
        }
    }

    .lbService_description {
        @include rem(line-height, 34px);
    }
}