.lb-hero {
    background: url('/img/home-hero-mobile.jpg') no-repeat center center;
    background-size: cover;
    
    .lb-hero_container {
        @include rem(max-width, 600px);
        @include rem(margin, 1.5rem auto);
    }
    
    .lb-hero-text {
        @include rem(font-size, 1.875rem);
        font-family: $font-lato;
        font-weight: 300;
    }
}