.lb-hero {
    background-color: $smoke;
    
   

    .lb-hero_container {
        @include rem(max-width, 600px);
        @include rem(margin, 0 auto 1.5rem);
        text-align: center;
    }
    
    .lb-hero-text {
        @include rem(font-size, 1.875rem);
    }
}

.lb-hero-constraint {
    @include max-width($max-width, $max-width-rem);

    &.-landing {
        @include rem(padding, 40px 0);
    }
}

.lb-hero:after {
    @include after();
}

.lb-hero_internal {
    padding-bottom:27.476%;
    background: $smoke;
    height:0;
    position:relative;

    img {
        width:100%;
        height:100%;
        display:block;
        position:absolute;
    }
}

.lb-hero_internal--noImage {
    @include rem(max-height, 20rem);
    @include rem(min-height, 6rem);
    overflow: hidden;
    position: relative;
    padding-bottom: 0 !important;
    background: $white-color;
}