@media screen and (min-width: 64.000em) and (max-width: 86.250em) {
    .lb-hero {

        &_container {
            @include rem(max-width, 450px);
        }
    }
}

.lb-hero {

    &-constraint {
        @include max-width($max-width, $max-width-rem);
    
        &.-landing {
            @include rem(padding, 40px 0);
        }
    }

    &_container {
        @include rem(margin, 7rem 0 1.5rem);
        text-align: left;
    }

    &-title {
        @include rem(max-width, 400px);
    }
}

.lb-hero_internal {
    padding-bottom:23.875%;
}

@media screen and (min-width: 93.750em) {
    .lb-hero_internal {
        padding-bottom:17.396%;
    }
}
