.lb-hero {
    
    .lb-hero_container {
        @include rem(max-width, 600px);
        @include rem(margin, 1.5rem auto);
        text-align: center;
    }
    
    .lb-hero-text {
        @include rem(font-size, 1.875rem);
        @include lato-family;
    }
}

.lb-hero-constraint {
    @include max-width($max-width, $max-width-rem);
}

.lb-hero:after {
    @include after();
}

.lb-hero_internal {
    @include rem(max-height, 15rem);
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}