.lb-form {
    @include medium-width($max-width-medium, $max-width-medium-rem);
    margin: 0 auto;
    
    &:after {
        content: '';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}

.lb-form-section {
    @include rem(margin-bottom, 1rem);

    &.lb-form-section--hidden {
        display: none;
    }
}

.lb-form-input, .lb-form-textarea, .lb-form-interaction, .lb-form-select {
    @include transition(all, 0.5s, ease);

    &:focus {
        border: 1px solid $purple-lighter-color;
        outline: none;

        @include placeholder {
            color: $white-color;
        }
    }

    &.lb-error {
        border: 1px solid $red-color;
    }

    &.lb-valid {
        border: 1px solid $brown-color;
    }
}

.lb-error-standalone {
    border: 1px solid $red-color;
}

.lb-form-select {
    height: 45px;
}

.lb-form-section--inline__container, .lb-form-select {

    &.lb-error {

        label {
            color: $red-color;
        }
    }
}

.lb-form-description {
    color: $light-grey-color;
}

.lb-form-input {
    width: 100%;
    @include borderRadius(2px);
    @include rem(padding, 0.5rem);
    @include box-sizing(border-box);
    color: $grey-color;
    border: 1px solid $white-color;

    @include placeholder {
        color: $light-grey-color;
    }
}

.lb-form-textarea {
    width: 100%;
    @include rem(height, 10rem);
    @include borderRadius(2px);
    @include rem(padding, 0.5rem);
    @include box-sizing(border-box);
    color: $grey-color;
    border: 1px solid $white-color;

    @include placeholder {
        color: $light-grey-color;
    }
}

.lb-form-label, select {
    color: $grey-color;
    display: block;
    @include rem(font-size, 1rem);
    @include rem(margin-bottom, 0.4rem);
}

.lb-form-section__text {
    color: $brown-color;
}

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 6%;
    top: 7px;
    display: none;
}

.spinner__show {
    display: block;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    @include animation(sk-bounce 2.0s infinite ease-in-out);
}

.double-bounce2 {
    @include animation-delay(-1.0s);
}

@include keyframes(sk-bounce) {
    from {
        @include transform(scale(0));
    }
    to {
        @include transform(scale(1));
    }
}

.error-js {
    background-color: $red-color;
    @include rem(padding, 0.5rem);
    color: $white-color;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;

    a, a:hover {
        color: $white-color;
        font-weight: bold;
    }
}

.error-js-visible {
    opacity: 1;
    visibility: visible;
}
