.lb-form {
    
    .lb-form-section {
        @include rem(margin-bottom, 1rem);
    }
    
    .lb-form-input {
        width: 100%;
        @include borderRadius(2px);
        @include rem(padding, 0.5rem);
        @include box-sizing(border-box);
        color: $grey-color;
        border: 1px solid $light-grey-color;
        
        @include placeholder {
            color: $light-grey-color;
        }
    }

    .lb-form-textarea {
        width: 100%;
        @include rem(height, 10rem);
        @include borderRadius(2px);
        @include rem(padding, 0.5rem);
        @include box-sizing(border-box);
        color: $grey-color;
        border: 1px solid $light-grey-color;

        @include placeholder {
            color: $light-grey-color;
        }
    }
    
    .lb-form-label {
        color: $grey-color;
        display: block;
        @include rem(font-size, 1rem);
        @include rem(margin-bottom, 0.4rem);
    }
    
    &:after {
        content: '';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}