.lb-form-section--inline {
    border-bottom: 1px solid $lighter-grey-color;
    @include rem(margin-bottom, 1.2rem);
    @include rem(padding-bottom, 0.7rem);

    &.remove-border {
        border-bottom: none;
        @include rem(margin-bottom, 3rem);
    }

    .lb-form-label--inline {
        display: inline-block;
    }

    .lb-form-interaction {
        width: 100%;
        color: $grey-color;
        font-weight: 400;
    }
}

.lb-form-interaction {
    border: 1px solid $lighter-grey-color;
}

.lb-form-section__privacy {
    display: inline-block;
    @include rem(margin-bottom, 1rem);
}