.lb-form-section--inline {

    .lb-form-section--inline__container {
        display: inline-block;
        @include rem(margin-right, 0.5rem);
    }

    .lb-form-label {
        display: inline-block;
        width: 60%;

        &.lb-form-label--inline {
            width: auto;
        }
    }

    .lb-form-label--inline {
        display: inline-block;
    }

    .lb-form-interaction {
        @include rem(width, 250px);
    }
}