.lb-mobile-menu {
    display: none;
}

.lb-head-menu {
    display: block;
    text-align: right;
    @include span(9);
    clear: none;

    .lb-menu-link {
        display: inline-block;
        @include rem(padding-right, 1rem);
        @include rem(font-size, 0.8rem);
        @include rem(line-height, 1.8rem);
        position: relative;

        &:last-child {
            @include rem(padding-right, 0);
            @include rem(padding-left, 1rem);

            a {
                @include rem(margin-bottom, 0);
            }
        }

        &:nth-last-child(2) {
            @include rem(padding-right, 0);
        }

        ul {
            @include rem(padding, 7px 15px);
            position: absolute;
            @include rem(right, 5px);
            @include rem(top, 3.2rem);
            @include rem(width, 130px);
            z-index: 6;
            background-color: $grey-darkest-color;
            @include customBorderRadius(0, 0, 5px, 5px);

            a, a:visited {
                padding-left: 0;
            }
        }
    }
}