.lb-mobile-menu {
    color: $white-color;
    text-decoration: none;
    @include rem(font-size, 1.2rem);
    @include rem(line-height, 1.8rem);
    position: relative;
    @include rem(padding-left, 1.6rem);

    &:visited {
        color: $white-color;
    }
    
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        width: 1em;
        height: 0.10em;
        background: $white-color;
        box-shadow: 
          0 0.25em 0 0 $white-color,
          0 0.5em 0 0 $white-color;
    }
}

.lb-head-menu {
    color: $white-color;
    display: none;
    @include span(12);
    clear: both;

    &.active {
        display: block;
    }
    
    ul {
        list-style-type: none;
    }
    
    .lb-menu-link {
        color: $white-color;
        @include lato-family-bold;
        text-decoration: none;
        text-transform: uppercase;
        @include rem(font-size, 1.2rem);
        @include rem(line-height, 2.8rem);

        &:last-child {
            text-align: center;

            a {
                border: 1px solid $white-color;
                @include rem(padding-left, 10px);
                @include rem(padding-right, 10px);
                @include rem(margin-right, 0);

                &:hover {
                    background-color: $white-color;
                    color: $purple-color;
                }
            }
        }

        &.active {

            a {
                color: $purple-lighter-color;
            }

            ul {
                 a {
                     color: $white-color;
                 }
            }
        }

        a {
            color: $white-color;
            text-decoration: none;
            display: block;

            &:hover {
                color: $purple-lighter-color;
            }
        }

        ul {
            display: none;

            &.show {
                display: block;
            }

            a {
                @include rem(padding-left, .75rem);
            }

            &.active {
                display: block;
            }
        }
    }
}