.lb-mobile-menu {
    color: $white-color;
    text-decoration: none;
    @include rem(font-size, 1.2rem);
    @include rem(line-height, 1.8rem);
    position: relative;
    @include rem(padding-left, 1.6rem);

    &:visited {
        color: $white-color;
    }
    
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        width: 1em;
        height: 0.10em;
        background: $white-color;
        box-shadow: 
          0 0.25em 0 0 $white-color,
          0 0.5em 0 0 $white-color;
    }
}

.lb-menu {
    color: $white-color;
    display: none;

    &.active {
        display: block;
    }
    
    ul {
        list-style-type: none;
    }
    
    .lb-menu-link {
        color: $white-color;
        text-decoration: none;
        @include lato-family;
        text-transform: uppercase;
        @include rem(font-size, 1.2rem);
        @include rem(line-height, 2.8rem);

        a, a:visited {
            color: $white-color;
            text-decoration: none;
            display: block;
        }
        
        ul {
            display: none;

            a, a:visited {
                @include rem(padding-left, .75rem);
            }

            &.active {
                display: block;
            }
        }
    }
}