@import './src/scss/components/base/base-mixin';

.lb-content .landing-list {
    margin: 0 0 0 0;
    padding: 0 0 0 0;


    &__text {
        vertical-align: sub;
    }

    &__item {
        background-color: $grey-background;
        @include rem(border-radius, 50px);
        @include rem(padding, 10px 20px 10px);
        @include rem(margin-bottom, 15px);
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;

        &.-right {
            background-color: $brown-color;
            text-align: right;
            color: $white-color;
        }
    }

    &__number {
        display: none;

        @include bp(large) {
            background-color: $red-color;
            color: $white-color;
            border-radius: 50%;
            @include rem(width, 40px);
            @include rem(height, 32px);
            @include rem(padding-top, 8px);
            @include rem(margin-right, 10px);
            text-align: center;
            display: block;

            &.-right {
                @include rem(margin-right, 0);
                @include rem(margin-left, 10px);
            }
        }
    }
}
