.lb-head {
    background-color: $header;
    padding-top: $padding;
    padding-bottom: $padding;

    &--landing {
        text-align: center;
    }
}

.lb-head-container {
    @include max-width($max-width, $max-width-rem);
}

.lb-head:after {
    @include after;
}

.lb-head-logo {
    @include span(6);
}

.lb-head-mobile-menu {
    @include span(6);
}