.lb-contactDetails {
    background-color: $grey-darkest-color;
    @include rem(padding, 10px 10px 15px);
    text-transform: lowercase;
    @include rem(font-size, 14px);
    text-align: center;

    .lb-btn {

        .lb-btn--none-bottom {
            margin-bottom: 0;
        }
    }

    .lb-contactDetails--right {
        text-align: right;
        display: inline-block;
        float: right;
    }

    a {
        color: $light-grey-color;
        vertical-align: sub;
        padding-left: $padding;
    }
}