.lb-contactDetails {
    background-color: $grey-darkest-color;
    @include rem(padding, 10px 10px 15px);
    text-transform: uppercase;
    @include rem(font-size, 12px);
    text-align: center;

    .lb-content {
        padding-top: 0;
    }

    p {
        @include rem(font-size, 12px);
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
        color: $light-grey-color;
        line-height: 1.2;
    }

    a {
        color: $light-grey-color;
        vertical-align: sub;
        padding-left: $padding;

        &:hover {
            color: $smoke;
        }
    }
}

.lb-contact-notice {
    padding: 0.85rem;

    p {
        @include rem(font-size, 12px);
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
        color: $grey-darkest-color;
        line-height: 1.2;
    }
}