-var path = '/test';
include ../partials/variables/variables
include ../partials/variables/menu-variables

doctype html

html(lang='en')

    head

        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

        block meta

            block title
                title My Website
            block description
                meta(name='description', content='this is a test')

            meta(name='author', content='Libertine Consultants')
            meta(name='msvalidate.01', content='AB0F4FC0C298F546B6E11AB099848CAB')
            meta(name='google-site-verification', content='ww11v4k5h5PRcIK0rSM42lewh1eDcDMgAn57KstPzNY')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='shortcut icon', type='image/x-icon', href='http://www.libertineconsultants.co.za/img/favicon.ico')

        block css
            // build:css css/common/common.min.css
            link(rel='stylesheet' href='css/common/common.css')
            // endbuild
            // build:css css/common/common-medium.min.css
            link(rel='stylesheet' href='css/common/common-medium.css' media="(min-width: 48.000em)")
            // endbuild
            // build:css css/common/common-large.min.css
            link(rel='stylesheet' href='css/common/common-large.css' media="(min-width: 64.000em)")
            // endbuild

        <!--[if lte IE 8]>
        script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
        <![endif]-->

    body

        include ../partials/header

        block touch
            include ../partials/get_touch

        block main

        include ../partials/footer