.lb-faqs {
    background-color: rgba($grey-background, 0.5);
    @include borderRadius(5px);
    @include rem(margin, 0 $padding $padding-containers);
    border: 1px solid $smoke;
    @include medium-width($max-width-large, $lighter-grey-color);

    &.lb-pristine {

        .lb-faq {
            display: block;
        }
    }

    .lb-faq {
        display: none;
        @include rem(padding, 20px 20px 20px);
        border-bottom: 1px solid $smoke;
        color: #8a8a8a;
        @include transition(all, 0.5s, ease);

        &.lb-faq--active {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 5;
            background-color: rgba($grey-background, 1);
            text-align: center;
            @include animation(faqsss 2s);

            .lb-faq__answer {
                display: block;
                opacity: 0;
                @include animation(answersss 1.0s 2s ease-in);
            }
        }

        &:hover {
            background-color: rgba($grey-background, 1);
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }

        .lb-faq__title {
            @include rem(margin-bottom, 5px);
            color: #4C555A;
            @include rem(font-size, 20px);
            line-height: 1.5;
        }

        .lb-faq__answer {
            display: none;
            line-height: 1.5;
        }
    }
}

@include keyframes(faqsss) {
    0% {

        @include transform(translate(-100%, 100%));
    }
    35% {
        @include transform(translate(0, 90%));
    }
    100% {
        @include transform(translate(0, 0));
    }
}

@include keyframes(answersss) {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}