
extends ./extends/default.jade

block title
    title Libertine Consultants

block prepend activeMenu
    - var x = '/about.html'

block main

    main(class='lb-grid', role='main')

        section(class='lb-grid_u lb-grid_u-1')
            h2 Hello 1

        section(class='lb-grid_u lb-grid_u-1')
            h2 Hello 2

        section(class='lb-grid_u lb-grid_u-1')
            h2 Hello 3

    main(class='lb-grid')

        section(class='lb-grid_u lb-grid_u-1')
            h2 Hello 1

        section(class='lb-grid_u lb-grid_u-1')
            h2 Hello 2

        section(class='lb-grid_u lb-grid_u-1')
            h2 Hello 3

        section(class='lb-grid_u lb-grid_u-1')
            h2 Hello 4