@import './src/scss/components/base/base-mixin';
@import "./src/scss/components/testimonials/testimonials";

.lb-hero {
    background-image: url('/img/home-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    @include rem(padding, 1.5rem $padding 0.5rem);
}

@media (min-width: $media-query-lg) {
    @import "./src/scss/components/testimonials/testimonials-large";
}