@mixin grid-sizes ($value) {
    $cols: 6 !default;
    width: #{((100 / $cols) * $value)+ '%'};
}

@mixin offset ($columns) {
    margin-left: #{(100 / $columns) + '%'};
}

@mixin push ($columns) {
    position: relative;
    left: #{(100 / $columns) + '%'};
}

@mixin pull ($columns) {
    position: relative;
    left: #{'-' + (100 / $columns) + '%'};
}