@import 'grid-mixin';

.lb-grid {

    &:after {
        content: '';
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
    }

    .lb-grid_u {
        @include grid-sizes (6);
        float: left;
        padding: $padding-containers;

        &.lb-grid_u-no-padding {
            padding: 0;
        }
    }

    .lb-grid_u-1 {
        width: 100%;
    }

    .lb-grid_u-2 {
        width: 50%;
    }
}