@import 'grid-mixin';

.lb-container {
    position: relative;
    @include rem(max-width, 1280px);
    margin: 0 auto;
}

.lb-grid {

    &:after {
        content: '';
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
    }

    .lb-grid_u {
        @include grid-sizes (1);
        float: left;
        padding: $padding;
    }

    @for $i from 1 through 2 {

        // Breakpoint columns
        #{'.lb-grid_u-'+$i} {
            @include grid-sizes($i);
        }

        // Offset
        #{'.lb-grid_u-offset-'+$i} {
            @include offset($i);
        }

        // Push
        #{'.lb-grid_u-push-'+$i} {
            @include push($i);
        }

        // Pull
        #{'.lb-grid_u-pull-'+$i} {
            @include pull($i);
        }
    }
}