@import 'grid-mixin';

.lb-grid {

    &:after {
        content: '';
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
    }

    .lb-grid_u {
        @include grid-sizes (1);
        float: left;
        padding: $padding;
    }

    @for $i from 1 through 2 {

        // Breakpoint columns
        #{'.lb-grid_u-'+$i} {
            @include grid-sizes($i);
        }
    }
}