import('../general-mixin');

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.lb-grid {

    .lb-grid-u {
        width: 100%;
        float: left;
    }

    .lb-grid-u_2 {
        width: 50%;
    }

    .lb-grid-u_3 {
        width: 33%;
    }

    .lb-grid-u_4 {
        width: 25%;
    }

    .lb-grid-u_5 {
        width: 20%;
    }
}