.lb-grid {

    .lb-grid-u {
        width: 100%;
        float: left;
    }

    .lb-grid-u_2 {
        width: 50%;
    }

    .lb-grid-u_3 {
        width: 33%;
    }

    .lb-grid-u_4 {
        width: 25%;
    }

    .lb-grid-u_5 {
        width: 20%;
    }
}