@import '../base/base-mixin';
@import 'grid-mixin';

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @include box-sizing(border-box);
}

.lb-grid {
    @include box-sizing(border-box);

    &:after {
        content: '';
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
    }

    .lb-grid_u {
        @include grid-sizes (1);
        float: left;
        padding: 15px;
        @include box-sizing(border-box);
    }

    @for $i from 2 through 12 {

        // Breakpoint columns
        #{'.lb-grid_u-'+$i} {
            @include grid-sizes($i);
        }

        // Offset
        #{'.lb-grid_u-offset-'+$i} {
            @include offset($i);
        }

        // Push
        #{'.lb-grid_u-push-'+$i} {
            @include push($i);
        }

        // Pull
        #{'.lb-grid_u-pull-'+$i} {
            @include pull($i);
        }
    }
}