- var data              = {};
- data.home             = {en: {href: '/', name: 'Debt'}, af: {href: '/af', name: 'Home'}};
- data.management       = {en: {href: '/debt-management.html', name: 'Debt management'}, af: {href: '/af/debt-management.html', name: 'Debt management Af'}};
- data.team             = {en: {href: '/debt-management-team.html'}, af: {href: '/af/debt-management-team.html'}};
- data.kim              = {en: {href: '/kim-armfield.html'}, af: {href: '/af/kim-armfield.html'}};
- data.ca               = {en: {href: '/ca-life-coaching.html'}, af: {href: '/af/ca-life-coaching.html'}};
- data.consolidation    = {en: {href: '/debt-consolidation.html', name: 'Debt consolidation'}, af: {href: '/af/debt-consolidation.html'}};
- data.review           = {en: {href: '/debt-review.html', name: 'Debt review'}, af: {href: '/af/debt-review.html'}};
- data.counselling      = {en: {href: '/debt-counselling.html', name: 'Debt counselling'}, af: {href: '/af/debt-counselling.html'}};
- data.admin            = {en: {href: '/administration-of-estates.html', name: 'Administration'}, af: {href: '/af/administration-of-estates.html'}};
- data.credit           = {en: {href: '/credit-clearance.html', name: 'Credit clearance'}, af: {href: '/af/credit-clearance.html'}};
- data.voluntary        = {en: {href: '/voluntary-distribution.html', name: 'Voluntary distribution'}, af: {href: '/af/voluntary-distribution.html'}};
- data.sequestrations   = {en: {href: '/sequestrations.html', name: 'Sequestrations'}, af: {href: '/af/sequestrations.html'}};
- data.faqCounselling   = {en: {href: '/debt-counselling-faq.html', name: 'General FAQ\'s'}, af: {href: '/af/debt-counselling-faq.html'}};
- data.faqAdmin         = {en: {href: '/administration-faq.html', name: 'Administration FAQ\'s'}, af: {href: '/af/administration-faq.html'}};
- data.faqVoluntary     = {en: {href: '/voluntary-distribution-faq.html', name: 'Legal restructuring, Voluntary distribution FAQ\'s'}, af: {href: '/af/voluntary-distribution-faq.html'}};

- data.apply            = {en: {href: '/apply-debt-relief.html'}, af: {href: '/apply-debt-relief.html'}};
- data.get_touch        = {en: {href: '/get-in-touch.html', name: 'Get in touch'}, af: {href: '/get-in-touch.html', name: 'Kry in touch'}};
- data.privacy          = {en: {href: '/privacy-policy.html', name: 'Privacy policy'}, af: {href: '/get-in-touch.html', name: 'Kry in touch'}};
- data.testimonials     = {en: {href: '/testimonials.html', name: 'Testimonials'}, af:  {href: '/testimonials.html', name: 'Testimonials'}};
- data.contact          = {en: {href: '/contact-us.html', name: 'Contact Us'}, af:  {href: '/af/contact-us.html', name: 'Contact Us'}};
- data.sitemap          = {en: {href: '/sitemap.html', name: 'Sitemap'}, af: {href: '/af/sitemap.html', name: 'Sitemap'}};
- data.disclaimer       = {en: {href: '/disclaimer.html', name: 'Disclaimer'}, af: {href: '/af/disclaimer.html', name: 'Disclaimer'}};
- data.careers          = {en: {href: '/careers.html', name: 'Careers'}, af: {href: '/af/careers.html', name: 'Careers'}};
- data.administrator    = {en: {href: '/administrator.html', name: 'Administrator'}, af: {href: '/af/administrator.html', name: 'Administrator'}};
- data.data_cap         = {en: {href: '/data-capturer.html', name: 'Data capturer'}, af: {href: '/af/data-capturer.html', name: 'Data capturer'}};
- data.debt_review_con  = {en: {href: '/debt-review-consultant.html', name: 'Debt review consultant'}, af: {href: '/af/debt-review-consultant.html', name: 'Debt review consultant'}};
- data.resources        = {en: {href: '/resources.html', name: 'Resources'}, af: {href: '/af/resources.html', name: 'Resources'}};

- data.facebook         = {href: 'https://www.facebook.com/pages/Libertine-Consultants/323993848116'};
- data.twitter          = {href: 'https://twitter.com/libertinec'};
- data.googlePlus       = {href: 'https://plus.google.com/+LibertineconsultantsCoZa'};
- data.tel              = {href: 'tel:+27219492211', name: '+27 (21) 949 2211'};
- data.cell             = {href: 'tel:+27722262925', name: '+27 (72) 226 2925'};
- data.email            = {href: 'mailto:info@libertineconsultants.co.za', name: 'info@libertineconsultants.co.za'};
