- var data          = {};
- data.home         = {href: '/', name: 'Home'};
- data.facebook     = {href: 'https://www.facebook.com/pages/Libertine-Consultants/323993848116'};
- data.twitter      = {href: 'https://twitter.com/libertinec'};
- data.googlePlus   = {href: 'https://plus.google.com/+LibertineconsultantsCoZa'};
- data.tel          = {href: 'tel:+27219492211', name: '+27 (021) 949 2211'};
- data.cell         = {href: 'tel:+27722262925', name: '+27 (072) 226 2925'};
- data.email        = {href: 'mailto:info@libertineconsultants.co.za', name: 'info@libertineconsultants.co.za'};