form(class='lb-form')
    
    a(href='' class='lb-form-close') X Close

    section
        p(class='lb-form-title') Get In Touch

    section(class='lb-form-section')
        label(for='name' class='lb-form-label') Full Name
        input(type='text' name='name' placeholder='Clay Sissing' class='lb-form-input' id='name')
        span(class='lb-form-error')

    section(class='lb-form-section')
        label(for='email' class='lb-form-label') Email Address
        input(type='email' name='email' placeholder='claysissing@libertineconsultants.co.za' class='lb-form-input' id='email')
        span(class='lb-form-error')

    section(class='lb-form-section')
        label(for='number' class='lb-form-label') Contact Number
        input(type='text' name='number' placeholder='0792838000' class='lb-form-input' id='number')
        span(class='lb-form-error')

    section(class='lb-form-section')
        button(type='submit' name='submit' class='lb-btn lb-btn_action lb-btn_action-pull-right') Submit


    form(class="lb-form lb-form_inline")
        p Subscribe to our newsletter for updates.
        label(for='newsletter', class='lb-form-label') Email address
        input(type='email', placeholder='john@proudlysouthafrican.co.za', id='newsletter', name='newsletter', class='lb-form-input')
        button(type='submit', class='lb-btn lb-btn_action lb-btn_small lb-btn_action-pull-right') Subscibe