section(class="lb-content #{isGrey ? 'lb-content_grey':''}")

    div(class='lb-content-constraint text-center')

        p.
            <strong>Can’t find your answer?</strong><br>
            We’re here to help. <a href='#{path + data.get_touch.en.href}' class='lb-link'>Get in touch</a> and we’ll get back to you as soon as we can.