block footer

    footer(class='lb-grid', role='contentinfo')
        
        div(class='lb-container')

            section(class='lb-grid_u lb-grid_u-1')
                ul
                    li
                        a(href='') Home
                    li
                        a(href='') Contact
                    li
                        a(href='') How to Apply
                    li
                        a(href='') Sitemap
                    li
                        a(href='') Privacy Policy
                    li
                        a(href='') Disclaimer

                p &copy; 2015 LIBERTINE CONSULTANTS IN CAPE TOWN, ALL RIGHTS RESERVED 

            section(class='lb-grid_u lb-grid_u-1')
                p
                    GET SOCIAL WITH US ON

                a(href='') Google
                a(href='') Twitter
                a(href='') Facebook

include scripts/footer-scripts.jade