block footer

    footer(class='lb-footer', role='contentinfo')

        div(class='lb-content-constraint')

            section(class='lb-footer-links')
                ul
                    li
                        a(href='#{data.home.en.href}') Home
                    li
                        a(href='') Contact
                    li
                        a(href='') How to Apply
                    li
                        a(href='') Sitemap
                    li
                        a(href='') Privacy Policy
                    li
                        a(href='') Disclaimer

                p &copy; 2007 - 2015 Libertine Consultants in <a href="https://www.capetown.gov.za/en/Pages/default.aspx" target="blank">Cape Town</a>, all rights reserved

            section(class='text-right-medium lb-social')

                p Get social with us

                a(href='#{data.googlePlus.href}', target='_blank', class='lb-social-icon lb-social-icons_white')
                    i(class='lb-icon lb-07-google-plus lb-icon-2')
                a(href='#{data.facebook.href}', target='_blank', class='lb-social-icon lb-social-icons_white')
                    i(class='lb-icon lb-06-facebook lb-icon-2')
                a(href='#{data.twitter.href}', target='_blank', class='lb-social-icon lb-social-icons_white')
                    i(class='lb-icon lb-14-twitter lb-icon-2')

include scripts/footer-scripts.jade