header(role='banner')

    section(class='lb-grid lb-head')
        
        div(class='lb-container')

            section(class='lb-grid_u lb-grid_u-2 lb-grid_medium-u-2')

                img(src="/img/libertine-logo-fallback.png", srcset="/img/logo-libertine-consultants.svg", alt="Libertine Consultants", role='logo')

            section(class='lb-grid_u lb-grid_u-2 lb-hide-medium text-right')

                a(href='', class='lb-mobile-menu') Menu

            nav(class='lb-grid_u lb-grid_u-1 lb-grid_medium-u-4 lb-menu', role='navigation', aria-label='Main navigation')

                block activeMenu
                    include var-menu.jade

                ul
                    each val in nav
                        +menu-item(val)