header(role='banner', class='lb-head')

    section(class='lb-head-logo')

        a(href='#{data.home.href}')
            img(src="img/libertine-logo-fallback.png", srcset="img/logo-libertine-consultants.svg", alt="Libertine Consultants", role='logo')

    section(class='lb-head-mobile-menu lb-hide-medium text-right')

        a(href='', class='lb-mobile-menu') Menu

    nav(class='lb-head-menu', role='navigation', aria-label='Main navigation')

        block activeMenu


        ul
            each val in nav
                +menu-item(val)