header(class='lb-head lb-head--landing')

    div(class='lb-head-container__landing')

        section(class='lb-head-logo__landing')

            a(href=path + data.home.en.href, rel="noopener")
                img(src=path + "/img/libertine-logo-fallback.png", srcset=path + "/svg/logo-libertine-consultants.svg", alt="Libertine Consultants")
