section(class='lb-container')

    div(class='lb-language')

        ul(class='lb-language_container')
            li(class='lb-language-list active')
                a(href='') English
            li(class='lb-language-list')
                a(href='') Afrikaans
            li(class='lb-language-list')
                a(href='') Xhosa