- var nav       = {};
- nav.about     = {href: '/about.html', name: 'About'};
- nav.about.sub = [{href: '/about-subs.html', name: 'About subs yo'}, {href: '/about-subss.html', name: 'About subss'}, {href: '/about-sub.html', name: 'About sub'}];
- nav.debt      = {href: '/debt-services.html', name: 'Debt services'};
- nav.debt.sub  = [{href: '/about-subs.html', name: 'About subs yo'}, {href: '/about-subss.html', name: 'About subss'}, {href: '/about-sub.html', name: 'About sub'}];
- nav.legal     = {href: '/legal-services.html', name: 'Legal services'};
- nav.more      = {href: '/more.html', name: 'More'};

mixin menu-item (obj)
    if obj.href.toLowerCase() == activePage
        li(class='lb-menu-link active')
            a(href=obj.href, title=obj.name)= obj.name
            if obj.sub
                ul(class='submenu')
                    each subVal in obj.sub
                        li
                            a(href=subVal.href, title=subVal.name)=subVal.name
    else
        li(class='lb-menu-link')
            a(href=obj.href, title=obj.name)= obj.name
            if obj.sub
                ul(class='submenu')
                    each subVal in obj.sub
                        li
                            a(href=subVal.href, title=subVal.name)=subVal.name