.lbTouch {
    background-color: $grey-darkest-color;
    @include rem(padding, 1rem);
    text-align: center;
    text-transform: uppercase;

    a {
        color: $white-color;
        @include rem(font-size, 14px);

        &:hover {
            color: $light-grey-color;
        }
    }
}