div(class='lb-cta lb-cta_center')

    a(href=path + data.get_touch.en.href, class='lb-btn lb-btn--none-bottom') Get in Touch

    p(class='lb-cta-push-down')
        small Need to talk to us? Call <a href='#{data.tel.href}')> #{data.tel.name}</a> for advice